/* Global  START */
#inscription .section-center {
    background-color: var(--grey-light);
    box-shadow: var(--shadow);
    border-radius: 3px;
    width: 54vw;;
}

#inscription .section-center .section-text {
    width: 100%;
}

#inscription .form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem;
    transition: height 0.6s ease;
    overflow: hidden;
}

#inscription .form-group {
    justify-content: space-between;
}

#inscription fieldset {
    padding: 0;
}

#inscription h3 {
    margin: 3rem 0 2rem 0;
}

/* Half-width fields */
#inscription form input,
#inscription form select,
#inscription form textarea {
    background-color: var(--white);
    width: 24vw;
}

#inscription .participant-age label span:hover,
#inscription .form-single-input.checkboxes span:hover,
#inscription .form-single-input.checkboxes input[type="checkbox"]:checked + span,
#inscription .form-single-input.radio-buttons input[type="radio"]:checked + span {
    background-color: var(--grey);
    color: var(--white);
}

/* Global END */

/* Info Contact START */
#inscription .info-contact h3 {
    margin: 0 0 2rem 0;
}
/* Info Contact END */

/* First Participant START */

#inscription .participant {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#inscription .participant-identity {
    display: flex;
    flex-direction: column;
}

#inscription .same-name {
    margin-top: 1rem;
}

#inscription .same-name-checkbox-label {
    display: flex;
    justify-content: left;
    align-items: center;
}

#inscription .same-name-checkbox-label input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 0.5rem;
}

#inscription .radio-buttons input[type="radio"] {
    display: none;
}

#inscription .participant-age .age-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
}

#inscription .first-participant .participant-age .age-buttons {
    margin-top: 3rem;
}

#inscription .participant-age label span {
    font-size: 14px;
    padding: 0.7rem 2rem;
    border-radius: 3px;
    background-color: var(--grey-extra-light);
    transition: all 0.3s;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#inscription input[type="radio"] {
    display: none;
}

/* Age Buttons */
#inscription input[type="radio"] + span {
    display: inline-block;
    padding: 0.7rem 1rem;
    background-color: var(--grey-extra-light);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 7vw;
}

#inscription .form-single-input.radio-buttons input[type="radio"]:checked + span {
    background-color: var(--grey);
    color: var(--white);
}

#inscription .participant {
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease, margin 0.4s ease;
}

#inscription .age-sections-container {
    position: relative;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

/* First Participant END */

/* Add-Remove START */
#inscription .add-remove-participant {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

#inscription .add-participant,
#inscription .remove-participant {
    display: flex;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
}

#inscription .add-participant:hover,
#inscription .remove-participant:hover {
    color: var(--primary-color);
}

#inscription .remove-participant {
    display: none;
    margin-left: auto;
}

#inscription .plus {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* Add-Remove END */

/* Action START */
#inscription .form-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 50%;
    justify-self: center;
}

#inscription .action-checkbox-label {
    display: flex;
    justify-content: left;
    align-items: center;
}

#inscription .action-checkbox-label input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 0.5rem;
}

#inscription a {
    color: var(--black);
    text-decoration: underline;
    transition: all 0.3s ease;
}

#inscription a:hover {
    color: var(--primary-color);
}
/* Action END */

/* Participant Template START */
#inscription .participant-template {
    display: none;
}
/* Participant Template END */

/* Animation START */
#inscription .toggle-section {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

#inscription .toggle-section.showing {
    display: block;
}

#inscription .class-option label {
    padding: 0 !important;
    margin: 0 !important;
}

/* Cours Common Space */
#inscription .class-option {
    margin-top: 2rem;
    width: 20vw;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}

/* Cours Buttons */
#inscription .form-single-input.checkboxes span {
    display: inline-block;
    padding: 0.7rem 2rem;
    background-color: #eee;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-size: 14px;
    box-shadow: var(--shadow);
    width: 9vw;
    text-align: center;
}

#inscription .class-option fieldset {
    margin: 0 !important;
}

#inscription .ado-section,
#inscription .adult-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem !important;
    flex-wrap: wrap;
}

#inscription .form-single-input.checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#inscription .form-single-input.checkboxes label {
    cursor: pointer;
    user-select: none;
}

#inscription .form-single-input.checkboxes input[type="checkbox"] {
    display: none;
}

#inscription input:not(:disabled):hover,
#inscription select:not(:disabled):hover,
#inscription textarea:not(:disabled):hover {
    background-color: white;
}

#inscription input:disabled,
#inscription input:disabled:hover {
    background-color: var(--grey-extra-light);
    box-shadow: none;
    cursor: default;
    opacity: 0.6;
}

#inscription .participant.animating-add {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 0.4s ease;
}

#inscription .participant.added {
    opacity: 1;
    transform: translateY(0);
    margin-top: 3rem;
}

/* Animation END */

/* Responsive */
@media screen and (max-width: 1333px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {



}

