/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoFlex.woff2') format('woff2-variations'),
    url('../fonts/RobotoFlex.woff') format('woff-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Oooh Baby';
    src: url('../fonts/OoohBaby.woff2') format('woff2'),
    url('../fonts/OoohBaby.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* Variables */
:root {
    --mint: #00CCBD;
    --mint-light: #01d7c7;
    --mint-dark: #03a99d;
    --blue-extra-light: #0099FF;
    --blue: #0000FF;
    --blue-light: #0066FF;
    --blue-dark: #0000CC;
    --blue-extra-dark: #000066;
    --black: #1a1a18;
    --white: #F8F8F8;
    --grey: #6c757d;
    --grey-extra-light: #f0f0f0;
    --grey-light: #d4d4d4;
    --grey-dark: #333333;
    --text-large: 1.25rem;
    --text-normal: 1rem;
    --text-small: 0.875rem;
    --text-extra-small: 0.75rem;
    --title-h1-hero: 4rem;
    --title-h1: 3rem;
    --title-h2: 2.5rem;
    --title-h3: 1.75rem;
    --title-h4: 1.75rem;
    --subtitle-h1-hero: 2.25rem;
    --subtitle-h1: 1.75rem;
    --subtitle-h2: 1.25rem;
    --subtitle-h3: 1rem;
    --subtitle-h4: 0.75rem;
    --mixed-gradient: linear-gradient(to right, var(--mint) 0%, var(--blue) 100%);
    --blue-gradient: linear-gradient(to bottom, var(--blue-light), var(--blue), var(--blue-dark));
    --blue-gradient-h1: linear-gradient(to bottom, var(--blue-extra-light), var(--blue), var(--blue-dark));
    --mint-gradient: linear-gradient(to bottom, var(--mint-light), var(--mint), var(--mint-dark));
     --shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: var(--text-normal);
    font-weight: 400;
    line-height: 1.6;
    min-width: 20rem;
    position: relative;
    margin: 0;
    padding: 0;
    background: var(--white);
}

h1 {
    font-family: 'Lora', serif;
    font-size: var(--title-h1);
    line-height: 1.4;
    color: var(--black);
    margin-bottom: 3rem;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

h2.has-subtitle {
    margin-bottom: 0.5rem;
}


h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: var(--title-h3);
    line-height: 1.3;
    margin-bottom: 0.6rem;
}

h4 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 100;
    margin-bottom: 0.6rem;
}

h5 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 100;
    margin-bottom: 0.6rem;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

strong {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.no-decoration {
    text-decoration: none !important;
}

.hidden {
    display: none;
}

.first-of-type {
    margin-top: 9vh;
}


/*Lists*/
li strong {
    margin-right: 0.5rem;
    font-weight: 800;
}

ol, ul {
    list-style: none;
}

/* Forms */
.form-container {
    width: 100%;
    background: transparent;
    box-shadow: var(--shadow);
    font-family: 'Roboto Flex', sans-serif;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-single-input {
    margin-bottom: 1rem;}

form h4 {
    margin-bottom: 1.25rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: var(--black);
}

fieldset {
    border: none;
}

input,
select,
textarea {
    padding: 1rem;
    margin: 0;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    background-color: var(--white);
    font-size: var(--text-small);
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

input {
    max-width: 11.5rem;
}

input::placeholder,
textarea::placeholder {
    color: var(--grey);
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d4d4d4' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-size: 2rem auto;
    background-repeat: no-repeat;
    background-position: 96% center;
    outline: none;
}

.form-container input:hover,
.form-container select:hover,
.form-container textarea:hover,
.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
    outline: none;
    background-color: var(--grey-extra-light);
    transition: background-color 0.3s, border-color 0.3s;
}

select:required:invalid {
    color: var(--grey);
}

.radio-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.checkbox {
    margin-right: 0.5rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: var(--text-small);
}

.checkbox-label-paragraph {
    display: flex;
    align-items: baseline;
    font-size: var(--text-small);
}

form button {
    margin-top: 1rem;
}

.full-width select,
.full-width textarea {
    width: 100%;
}

/*Modal Form*/
.modal-form {
    max-width: 30rem;
    margin: 0 auto;
    position: relative;
}

.modal-form-wrap {
    padding: 3rem;
    background-color: rgba(7, 35, 89, 0.8);
    color: var(--white);
    border-radius: 3px;
}

.modal-form label {
    color: var(--white);
}

.modal-form a {
    color: var(--white);
    text-decoration: underline;
}

.modal-form a:hover {
    color: white;
}

.modal-close {
    display: flex;
    justify-content: right;
    position: absolute;
    top: 1rem;
    left: 28rem;
}

.modal-icon {
    width: 1rem;
    display: inline-block;
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="recolor" color-interpolation-filters="sRGB">\
          <feColorMatrix type="matrix" values="\
            0 0 0 0 0\
            0 0 0 0 0.8\
            0 0 0 0 0.741\
            0 0 0 1 0"\
          />\
        </filter>\
      </svg>#recolor');
    cursor: pointer;
}

.modal-form button {
    margin: 1rem auto 0;
}

    /* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--shadow);
}

/* Header Top Row */
.header-top-row {
    background: var(--mixed-gradient);
    /* background-size: 300% 100%;
    background-position: 0% center;
    background-repeat: no-repeat;
    animation: pulse-gradient 6s ease-in-out infinite alternate; */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2rem;
}

.header-top-container {
    display: flex;
    justify-content: flex-end;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
}

.header-contacts {
    display: flex;
    gap: 3rem;
    align-self: flex-end;
}

.header-contacts a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    font-size: var(--text-small);
    transition: opacity 0.5s ease;
}

.header-contacts a:hover {
    opacity: 0.8;
}

/* Header Bottom Row */
.header-bottom-container {
    display: flex;
    flex-direction: row;
    max-width: 75rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
}

header img {
    height: 2.5rem;
}

/* Gradient Animation */


/* Menu */
.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.top-menu > ul {
    display: flex;
    gap: 3rem;
}

.top-menu li {
    position: relative;
}

.top-menu a {
    display: block;
    transition: all 0.3s ease;
    color: var(--black);
}

.top-menu .menu-item-has-children {
    display: flex;
    align-items: center;
}

.top-menu .menu-item-has-children > a:first-of-type {
cursor: default;
}

.top-menu .menu-item-has-children > a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d4d4d4' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
    background-size: 1.5rem auto;
    background-repeat: no-repeat;
    background-position: 100% center;
    outline: none;
    padding-right: 1.5rem;
}

.top-menu .menu-item-has-children > a:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300CCBD' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
}

.top-menu .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.top-menu .sub-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    min-width: 14.5rem;
    border-radius: 3px;
    background: var(--white);
    box-shadow: var(--shadow);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 10;
    overflow: hidden;
    padding: 0.5rem 0;
}

.top-menu .sub-menu a {
    padding: 0.5rem 1rem;
    text-align: left;
}

.top-menu .sub-menu a:hover {
    color: var(--mint);
}

.top-menu > ul > li > a:hover {
    color: var(--mint);
}

.top-menu .menu-item-has-children > a:hover::after {
    color: var(--mint);
}

/* Buttons */
.btn {
    display: flex;
    width: 13rem;
    height: 3.5rem;
    border-radius: 3px;
    cursor: pointer;
    font-size: var(--text-normal);
    transition: all 0.3s ease;
    box-shadow: var(--shadow);
    align-items: center;
    justify-content: center;
}

.btn-header {
    width: 11rem;
    height: 3rem;
}

.btn-outlined {
    border: 1px solid var(--grey);
    background: transparent;
    color: var(--grey);
    box-shadow: none;
}

.btn-outlined a {
    color: var(--grey);
    transition: all 0.3s ease;
}

.btn-outlined:hover,
.btn-outlined a:hover {
    color: var(--mint);
    border-color: var(--mint);
}

.btn-mint {
    border: none;
    background: var(--mint-gradient);
    color: var(--white);
}

.btn-blue {
    border: none;
    background: var(--blue-gradient);
    color: var(--white);
}

.btn-mint a,
.btn-blue a {
    color: var(--white);
}

.btn-mint a:hover,
.btn-blue a:hover {
    color: white;
}

.btn-mint:hover,
.btn-blue:hover {
    opacity: 0.8;
    box-shadow: none;
}

.btn-modal a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Section First */
.section-first {
    padding: 8rem 0 0 0;
    background: white;
}

.breadcrumb ul {
    display: flex;
    padding: 0;
    margin: 0 0 2rem 0;
    font-size: var(--text-small);
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 0.5rem;
    color: #888;
}

.breadcrumb li:last-child {
    font-weight: bold;
    color: #333;
}

.section-first h1 {
    margin-bottom: 0;
}

/* Section */
.section {
    opacity: 1;
    padding: 3rem 0;
}

.section-wrap {
    display: block;
    max-width: 75rem;
    margin: 0 auto;
}

.section-container {
    display: flex;
    flex-direction: column;
    position: relative;
}


.section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75rem;
    gap: 4rem;
    margin-bottom: 2rem;
}

.section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.last-of-type {
    margin-bottom: 0 !important;
    /*padding-bottom: 0 !important;*/
}

.section-has-bg {
    padding: 4rem 5rem;
}

.section-content-image {
    margin: 0 !important;
    padding: 0 !important;
}

.section-center .section-text {
    width: 28rem;
    text-align: center;
    margin-bottom: 0;
}

.section-center .section-content .section-text {
    text-align: left;
    margin-bottom: 0;
}

.section-text {
    margin-bottom: 3rem;
    width: 90%;
}

.section-text.no-margin,
.section-container.no-margin,
.section-row.no-margin {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.section-text p {
    margin-bottom: 1rem;
}

.section-subtitle {
    font-size: var(--subtitle-h2);
    font-weight: 100;
    margin: 0 0 2rem 0;
}

/* Swiper */
.swiper {
    width: 100%;
    border-radius: 3px;
}

.swiper-section-small {
    width: 360px;
    height: 480px;
}

.swiper-section-medium {
    width: 800px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

/* Photo Wrapper */
.photo-wrapper {
    display: inline-block;
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    background: transparent;
}

.frame {
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 3px;
    width: 435px;
    height: 580px;
}

.photo-wrapper .image-section-small {
    display: block;
    border-radius: 3px;
    width: 435px;
    height: 580px;
}

.photo-wrapper.photo-wrapper-medium {
    margin-top: 2rem;
}

 /* Hidden Text Read More Link */
.hidden-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.read-more-link {
    display: inline-block;
    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.read-more-link:hover {
    color: var(--blue-extra-light);
}

.read-more-link .text-close {
    display: none;
}

.read-more-link.active .text-open {
    display: none;
}

.read-more-link.active .text-close {
    display: inline;
}

/* Footer */
.footer {
    background: var(--blue-extra-dark);
    color: var(--white);
    padding: 4rem 0 1rem;
    font-size: var(--text-small);
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.footer-row:last-child {
    justify-content: flex-end;
    margin-bottom: 0;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer h4,
.footer p {
    color: var(--grey-light);
    margin: 0 0 0.4rem 0;
    padding: 0;
}

.footer li {
    margin-bottom: 0.4rem;
}

.footer a {
    color: var(--grey-light);
    text-decoration: none;
}

.footer a:hover {
    color: var(--grey-extra-light);
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-address {
    display: inline-block;
    margin-bottom: 1rem;
    width: 10rem;
}

.footer-social-icons {
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="recolor" color-interpolation-filters="sRGB">\
          <feColorMatrix type="matrix" values="\
            0 0 0 0 0\
            0 0 0 0 0.8\
            0 0 0 0 0.741\
            0 0 0 1 0"\
          />\
        </filter>\
      </svg>#recolor');
}

.footer-schedule {
    width: 10rem;
}

/* Scroll To Top */
.scroll-to-top {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    opacity: 0;
    color: var(--mint);
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.scroll-to-top img {
    width: 2rem;
    height: 2rem;
    display: block;
    filter: brightness(0) saturate(100%) invert(62%) sepia(53%) saturate(552%) hue-rotate(125deg) brightness(92%) contrast(101%);
    transition: filter 0.5s ease;
}

.scroll-to-top img:hover {
    filter: brightness(0) saturate(100%) invert(62%) sepia(53%) saturate(552%) hue-rotate(125deg) brightness(100%) contrast(101%);
}

/* Items Flex */
.items-row-wrap {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 3rem 0;
}

.items-row-wrap.no-margin {
    margin: 0 !important;
}

.items-row-wrap:last-child {
    margin-bottom: 0;
}

.items-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.items-row-wrap li {
    margin-bottom: 0.5rem;
}

/* Three Items Flex */
.three-items-item {
    flex: 0 0 30%;
    box-sizing: border-box;
}

/* Four Items Flex */
.four-items-item {
    flex: 0 0 22%;
    box-sizing: border-box;
}

/*Youtube*/
iframe {
    border: none;
    border-radius: 3px;
    width: 100%;
    max-width: 100%;
    display: block;
}

/* Scroll Dots Nav */
.scroll-dots-nav {
    position: fixed;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.scroll-dots-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.scroll-dots-nav li a {
    position: relative;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #BBBBBB;
    transition: background-color 0.3s ease;
}

.scroll-dots-nav li a.active {
    background-color: var(--mint);
}

.scroll-dots-nav li a:hover {
    background-color: var(--mint);
}

.scroll-dots-nav.blue li a.active {
    background-color: var(--blue);
}

.scroll-dots-nav.blue li a:hover {
    background-color: var(--blue);
}

.scroll-dots-nav li a::after {
    content: attr(data-label);
    position: absolute;
    right: 140%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    color: var(--black);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: var(--text-extra-small);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.scroll-dots-nav li a:hover::after {
    opacity: 1;
}

/*Accented Text*/
.accented-text {
    font-size: 1.5rem;
    font-family: 'Lora', sans-serif;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ballet .three-items-item .img {

}

.accented-text .btn {
    margin-top: 2rem;
}


.title-side-decorated {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.title-side-decorated img {
    margin-bottom: 2.5rem;
}

/*Square Card Grid*/
.square-card-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;
    margin: 1rem auto 0;
}

.square-card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.5s ease;
    aspect-ratio: 1 / 1;
}

.square-card-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    box-shadow: none;
}

.square-card-item h4 {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 0;
}

/*Five Card Row*/
.five-card-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.five-card-row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 14rem;
    height: 11rem;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.five-card-row-item .five-card-row-inner-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 10rem;
    height: 8rem;
    border-radius: 3px;
    margin: 0;
}

.five-card-row-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
}

.five-card-row-item p:nth-child(2) {
    font-weight: 100;
}

/*Two Card Row*/
.two-card-row {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 2rem;
    margin-top: 2rem;
}

.two-card-row-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 14rem;
    height: 11rem;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.two-card-row-item .two-card-row-inner-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 10rem;
    height: 8rem;
    border-radius: 3px;
    margin: 0;
}

.two-card-row-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.05);
}

.two-card-row-item p:nth-child(2) {
    font-weight: 100;
}

/*Title Top Decorated*/
.title-top-decorated h2 {
    margin-top: 0.625rem;
}

/*Google Map*/
.google-map,
.google-map iframe {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    border-radius: 3px;
}

/* Long Read Page */
section.long-read {
    padding: 3rem 0;
}
section.long-read h2 {
    font-size: var(--title-h3);
}

section.long-read p {
    margin: 0 0 1.3rem 3rem;
}

section.long-read ul {
    margin-left: 6rem;
    list-style: disc;
    margin-bottom: 1rem;
}

section.long-read p.no-margin,
section.long-read ul.no-margin {
    margin-bottom: 0 !important;
}

.long-read .section-text {
    width: 80%;
}

/*Icons*/
.header-icon {
    height: 1rem;
    display: inline-block;
    filter: brightness(0) invert(1);
}

.star-icon {
    width: 1.5rem;
    display: inline-block;
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="recolor" color-interpolation-filters="sRGB">\
          <feColorMatrix type="matrix" values="\
            0 0 0 0 0.078\
            0 0 0 0 0.373\
            0 0 0 0 0.914\
            0 0 0 1 0"\
          />\
        </filter>\
      </svg>#recolor');
}

.social-icons {
    width: 10rem;
    display: flex;
    gap: 0.7rem;
}

.social-icon {
    height: 1.5rem;
    display: inline-block;
}

.facebook {
    height: 24px;
}

.instagram {
    height: 25px;
}

.add-remove-icon {
    height: 1.5rem;
    display: inline-block;
    filter: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="recolor" color-interpolation-filters="sRGB">\
          <feColorMatrix type="matrix" values="\
            0 0 0 0 0.078\
            0 0 0 0 0.373\
            0 0 0 0 0.914\
            0 0 0 1 0"\
          />\
        </filter>\
      </svg>#recolor');
    margin: 0 0.5rem;
}

/* Section Planning and Tarifs */
.planning-and-tarif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.section-planning,
.section-tarif {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    padding: 2rem 0;
    border-radius: 3px;
    box-shadow: var(--shadow);
    transition: all 0.5s ease;
}

.section-planning {
    background: var(--grey-light);
}

.section-tarif {
    background: var(--white);
    display: flex;
    justify-content: flex-start;
}

.section-planning h4,
.section-tarif h4 {
    font-weight: 800;
}

.section-planning p,
.section-tarif p {
    margin-bottom: 0.5rem;
    font-size: var(--text-small);
}

.section-planning p:last-child {
    margin-bottom: 0;
    padding-top: 1.3rem;
}

.section-tarif .btn {
    margin-top: 0.6rem;
    width: 10rem;
    height: 3rem;
}

/*MFP Effects*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


html {
    overflow-y: scroll !important;
    margin: 0 !important;
}