/* Section START */
section {
    padding: 6rem 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
}

.section-row {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: flex-start;
    width: 100%;
}

.section-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-content-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

section.no-padding {
    padding: 0;
}

section.no-padding-top {
    padding: 0 0 6rem 0;
}

.section-center-margin-right-auto {
    margin-right: auto;
}

.align-left {
    align-items: flex-start;
}

.section-content-center .section-text {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.subsection {
    margin-bottom: 3rem;
}
/* Section END */

/* Section First START */
.section-first {
    display: flex;
    justify-content: left;
    margin: 6rem 0 1rem;
}

.section-first.no-padding-top {
    margin: 6rem 0 0 0;
}
/* Section First END */

/* Section Image Left START */
/* Section Image Left END */

/* Section Image Right START */
/* Section Image Right END */

/* Section Center START */
/* Section Center END */

/* Section Content Balanced START */
/* Section Content Balanced END */

/* Section Background Image START */
.section-background-image {
    background-image: url('../images/main/bg-contacts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section-background-image .container {
    background-color: var(--grey);
    color: var(--white);
    border-radius: 3px;
    margin: 0 2rem;
    padding: 2rem;
}

.section-background-image .section-content-text {
    margin: 1rem;
}

.section-background-image .form-container {
    padding: 0;
}

.section-background-image,
.section-background-image .container a {
    color: var(--white);
}
/* Section Background Image END */

/* Longread START */

section.longread  {
    padding: 3rem 0;
}

section.longread .section-text {
    margin-right: auto;
}

section.no-padding-top.longread  {
    padding: 0 0 3rem 0;
}

section.longread h2 span {
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 3px;
}

section.longread ul {
    list-style: disc;
    margin-bottom: 1rem;
}

section.longread h4 {
    margin: 2rem 0 1rem 2rem;
}

section.longread h5 {
    font-weight: bold;
    margin: 2rem 0 1rem 2rem;
}

section.longread .address {
    font-style: oblique;
}
/* Longread END */

/* Responsive */
@media screen and (max-width: 1440px) {

    section {
        padding: 5rem 0;
    }

    section.no-padding-top {
        padding: 0 0 5rem 0;
    }


}

@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 1024px) {

    section {
        padding: 4rem 0;
    }

    section.no-padding-top {
        padding: 0 0 4rem 0;
    }

    .section-first.no-padding-top {
        margin: 3rem 0 0 0;
    }

    .section-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    .longread .section-row {
        display: flex;
        flex-direction: row;
        justify-content: left;
        gap: 4rem;
        align-items: flex-start;
    }

    .longread .section-row .section-content-text {
        justify-content: left;
        align-items: flex-start;
    }

    .section-content-text {
        order: 1;
        width: 100%;
    }


}

@media screen and (max-width: 992px) {

    section {
        padding: 3rem 0;
    }

    section.no-padding-top {
        padding: 0 0 3rem 0;
    }

    .section-first.no-padding-top {
        margin: 1rem 0 0 0;
    }



    .section-content-center {
        width: 100%;
    }

    .section-content-center .section-text {
        width: 100%;
    }



    .section-background-image {
        background-image: none;
        background-color: var(--grey);
    }

    .section-background-image .container {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {



}

@media screen and (max-width: 624px) {

    .section-content-text,
    .section-content-center {
        width: 100%;
    }

    .section-content-center .section-text {
        text-align: left;
    }



    .section-background-image,
    .section-background-image .container {
        background-color: var(--white);
        color: var(--black);
    }

    .section-background-image,
    .section-background-image .container a {
        color: var(--black);
    }
}

@media screen and (max-width: 480px) {
    .section-content-text {
        width: 100%;
    }

    .section-first {
        margin: 2rem 0 1rem;
    }

    .section-row {
        gap: 2rem;
    }


}

@media screen and (max-width: 425px) {


}

@media screen and (max-width: 375px) {
    .container {
        padding: 0 1rem;
    }


}

@media screen and (max-width: 320px) {

}

