@import url('global.css');

/* Hero START */
section.hero {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    padding: 5rem 0;
    max-width: 100%;
}

.hero-title {
    max-width: 40vw;
}

.hero-title h1 {
    font-size: clamp(1.8rem, 8vw, 3.5rem);
    font-weight: 600;
    margin-bottom: clamp(1rem, 2vw, 2rem);
}

.hero-slogan {
    max-width: 30vw;
    margin-bottom: 2rem;
}

.hero-slogan p {
    font-family: 'Oooh Baby', serif;
    font-size: clamp(1.8rem, 7vw, 2.5rem);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}
/* Hero END */

/* About START */
#about {
    background: var(--white);
}

#about .section-right {
    width: 80%;
}
/* About END */

/* Ballet START */
#ballet {
    background: var(--grey-light);
}

#ballet .section-left {
    width: 50%;
}

#ballet .btn {
    margin: 2.5rem 0;
}
/* Ballet END */

/* Section Loisir START */
#loisir {

}

#loisir .section-center {
    width: 60%;
}

#loisir .title-side-decorated {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#loisir .title-side-decorated img {
    margin-bottom: 1rem;
}

#loisir .square-card-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;
    margin: 1rem auto 0;
}

#loisir .square-card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.5s ease;
    aspect-ratio: 1 / 1;
}

#loisir .square-card-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    box-shadow: none;
}

#loisir .square-card-item h4 {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 0;
}

#loisir .square-card-item:nth-child(1) {
    background-image: url('../images/main/enfants-classique.jpg');
}

#loisir .square-card-item:nth-child(2) {
    background-image: url('../images/main/adultes-classique.jpg');
}

#loisir .square-card-item:nth-child(3) {
    background-image: url('../images/main/enfants-contemporain.jpg');
}

#loisir .square-card-item:nth-child(4) {
    background-image: url('../images/main/adultes-contemporain.jpg');
}
/* Section Loisir END */

/* Section Pro START */
#pro {
    background: var(--grey-extra-light);
}
#pro .section-row {
    align-items: flex-start;
}

#pro .section-left {
    width: 50%;
    align-items: flex-start;
}

#pro .title-top-decorated h2 {
    margin-top: 0.625rem;
    margin-bottom: 2rem;
}

#pro .btn {
    width: 17.5rem;
    height: 3.75rem;
    margin-top: 3rem;
}

#pro .quote-container {
    position: relative;
}

#pro .decor-quote {
    position: absolute;
    font-family: 'Oooh Baby', serif;
    font-size: 2rem;
    z-index: 1;
    top: 79%;
    left: 0;
    transform: translateX(-67%);
    line-height: 1.4;
}

#pro .decor-quote-row:last-child {
    transform: translateX(13.3rem);
}

#pro .decor-quote-white:nth-child(1) {
    color: var(--white);
    margin-left: 1.1rem;
}

#pro .decor-quote-white:nth-child(2) {
    color: var(--white);
}


/* Section Pro END */

/* Stages START */

/* Stages END */

/* Gallery START */

/* Gallery END */

/* Contacts START */

/* Contacts END */

/* Contacts Form START */

/* Contacts Form END */

/* Responsive */
@media screen and (max-width: 1024px) {

    #about .section-right {
        width: 100%;
    }

    #ballet .section-left {
        width: 70%;
    }

    #ballet .btn,
    #pro .btn {
        margin: 2rem 0;
    }

    #pro .section-photo {
        width: 450px;
    }

}

@media screen and (max-width: 992px) {

    #about .section-right {
        width: 80%;
        order: 1;
    }

    #about .section-left {
        display: flex;
        order: 2;
        justify-content: center;
    }

    #ballet .btn {
        margin: 2rem 0 0 0;
    }

    #loisir .section-center {
        width: 70%;
    }

    #loisir .title-side-decorated img {
        display: none;
    }

    #loisir .title-side-decorated h2 {
        margin-top: 0;
    }

    #loisir .square-card-item {
        width: 15rem;
    }

    #pro .section-row {
        align-items: center;
    }

    #pro .section-left {
        width: 70%;
        align-items: center;
    }

    #pro .title-top-decorated img {
        display: none;
    }

    #pro .title-top-decorated h2 {
        margin-top: 0;
    }

    #pro .decor-quote {
        display: none;
    }

    #pro .btn {
        margin: 2rem 0 0 0;
    }

    #pro .section-photo {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    section.hero {
        height: 70vh;
    }

    #about .section-right {
        width: 90%;
    }

    #ballet .section-left {
        width: 90%;
    }

    #ballet .three-items-wrap {
        display: none;
    }

    #ballet .btn {
        margin: 2rem 0 1rem 0;
    }

    #loisir .section-center {
        width: 90%;
    }

    #loisir .square-card-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #pro .section-left {
        width: 90%;
    }

    #pro .btn {
        margin: 2rem 0 1rem 0;
    }

}

@media screen and (max-width: 480px) {
    section.hero {
        height: 60vh;
    }

    #about .section-right {
        width: 100%;
    }

    #ballet .section-left {
        width: 100%;
    }

    #loisir .section-center {
        width: 100%;
    }

    #pro .section-left {
        width: 100%;
    }

}

@media screen and (max-width: 425px) {
    #ballet .btn,
    #pro .btn {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
    }
}