/* Hero START */
#hero {
    padding-top: 15vh;
    background: #e4e4e4;
    overflow: hidden;
    height: 80vh;
}

#hero .hero-content {
    height: 50vh;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hero img {
    position: absolute;
    bottom: -18vh;
    right: -10vw;
    width: auto;
    height: 75vh;
    object-fit: cover;
    object-position: bottom;
    display: block;
}

#hero .hero-title {
    z-index: 2;
}

#hero .hero-title h1 {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Lora', serif;
    line-height: 1.5;
    background: var(--secondary-color-gradient-h1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}

#hero .hero-slogan {
    z-index: 2;
    font-family: 'Oooh Baby', serif;
    font-size: 2.5rem;
}

#hero .hero-slogan br {
    display: none;
}

#hero .hero-buttons {
    display: flex;
    gap: 1rem;
    z-index: 2;
}
/* Hero END */



/* About START */
#about {
    background: var(--white);
}

/* About END */

/* Danse START */
#danse {
    background: var(--grey-light);
}

#danse .btn {
    margin: 2.5rem 0;
}
/* Danse END */

/* Section Loisir START */
#loisir .cards .card-title {
    margin-top: 0;
}
    /* Section Loisir END */

/* Section Pro START */

#pro .section-row {
    align-items: flex-start;
}

#pro .btn {
    width: 17.5rem;
    height: 3.75rem;
    margin-top: 3rem;
}

#pro .quote-container {
    position: relative;
}

#pro .mobile-only {
    display: none;
}

#pro .mobile-only .frame {
    position: relative;
}

#pro .decor-quote-mobile {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-family: 'Oooh Baby', serif;
    font-size: 2rem;
    z-index: 10;
    line-height: 1.4;
    color: var(--white);
    width: 40%;
}

#pro .decor-quote {
    position: absolute;
    font-family: 'Oooh Baby', serif;
    font-size: 2rem;
    z-index: 10;
    top: 79%;
    left: -33%;
    transform: translateX(-41%);
    line-height: 1.4;
}

#pro .decor-quote-row:last-child {
    transform: translateX(8rem);
}

#pro .decor-quote-white:nth-child(1) {
    color: var(--white);
    margin-left: 1.1rem;
}

#pro .decor-quote-white:nth-child(2) {
    color: var(--white);
}
/* Section Pro END */

/* Stages START */


#stages .social-icons {
    display: flex;
    gap: 1rem;
}

#stages .social-icons img {
    width: 24px;
}
/* Stages END */

/* Main Gallery START */
#main-gallery {
    background-color: var(--grey-light);
}

#main-gallery .section-row {
    justify-content: center;
}

#main-gallery .swiper-frame {
    width: 95vw;
}
/* Main Gallery END */

/* Main Contacts START */

#main-contacts .main-contacts-wrap {
    width: 100%;
}

#main-contacts .google-map iframe {
    width: 100%;
    height: 20rem;
}



#main-contacts .three-items-wrap {
    width: 100%;
    margin-bottom: 2rem;
}

/* Main Contacts END */

/* Responsive */
@media screen and (max-width: 1440px) {

    #danse .three-items-wrap {
        margin-top: 1.5rem;
    }

    #danse .btn {
        margin: 1rem 0;
    }

    #pro .decor-quote {
        top: 76%;
        left: -40%;
        transform: translateX(-41%);
    }
}

@media (width: 1333px) and (height: 599px) {

    #hero .hero-title h1 {
        font-size: 3rem;
    }

    #hero .hero-slogan p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1200px) {

    #pro .btn {
        margin-top: 2rem;
        width: 16rem;
        height: 3rem;
    }

    #pro .section-photo {
        height: 450px;
        width: auto;
    }

    #pro .decor-quote {
        font-size: 1.6rem;
        z-index: 10;
        top: 79%;
        left: -30.5%;
        transform: translateX(-41%);
        line-height: 1.4;
    }

    #pro .decor-quote-row:last-child {
        transform: translateX(6rem);
    }


    #main-contacts .three-items-row {
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 1024px) {

    #danse .btn {
        margin: 1rem 0;
    }

    #loisir .section-text {
        margin: 0 auto 1rem;
    }

    #pro .section-row {
        align-items: center;
    }

    #pro .quote-container {
        display: none;
    }

    #pro .mobile-only {
        display: block;
        text-align: center;
    }

    #pro .section-photo {
        width: 100%;
        height: auto;
    }

    #pro .btn {
        margin: 2rem 0;
    }

    #stages .stages-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 992px) {

    #hero .hero-slogan br {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        padding-top: 10vh;
    }

    #hero img {
        bottom: -20vh;
    }

    #hero .hero-title h1 {
        font-size: 2.6rem;
    }

    #hero .hero-buttons {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
    }

    #hero .hero-slogan {
        font-size: 2rem;
    }

    #danse .three-items-wrap {
        display: none;
    }

    #danse .btn {
        margin: 2rem 0 1rem 0;
    }

    #loisir .cards.five {
        gap: 2rem;
    }

    #pro .btn {
        margin: 2rem 0 1rem 0;
    }

    #main-gallery .swiper {
        aspect-ratio: 1/1;
    }


}

@media (max-width: 624px) {

    #hero img {
        right: -27vw;
    }



    #about .three-items-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    #about .three-items-item {
        width: 100%;
    }

    #stages .stages-social {
        margin-top: 1rem;
    }


    #main-gallery .section-row {
        margin: 0 auto;
        max-width: 400px;
    }

    #main-contacts .main-contacts-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 3rem;
    }

    #main-contacts .google-map,
    #main-contacts .google-map iframe {
        width: 100%;
        height: 40vw;
    }

    #main-contacts .three-items-wrap {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 552px) {
    #hero img {
        right: -44vw;
    }
}

@media screen and (max-width: 480px) {

    @media screen and (max-width: 552px) {
        #hero img {
            right: -50vw;
        }
    }

    #hero .hero-title h1 {
        font-size: 2.4rem;
    }

    #hero .hero-slogan {
        font-size: 2rem;
    }

    #pro .decor-quote-mobile {
        display: none;
    }

    #main-gallery .swiper-frame {
        width: 85vw;
    }

    #main-contacts .main-contacts-wrap {
        margin-top: 1rem;
    }

    #main-contacts .three-items-row {
        gap: 2rem;
        align-items: center;
    }

}

@media screen and (max-width: 453px) {
    #hero img {
        right: -58vw;
    }
}

@media screen and (max-width: 425px) {
    #hero img {
        right: -60vw;
    }

    #hero .hero-title h1 {
        font-size: 2rem;
    }

    #hero .hero-slogan {
        font-size: 1.9rem;
        max-width: 14rem;
    }

    #hero .hero-slogan br {
        display: none;
    }

    #danse .btn {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
    }

    #loisir .section-text {
        margin: 0;
    }

    #pro .btn {
        width: 100%;
        margin: 0.5rem 0;
    }

    #main-contacts .three-items-row {
        gap: 2rem;
    }
}

@media screen and (max-width: 400px) {
    #hero img {
        right: -64vw;
    }
}

@media screen and (max-width: 375px) {

    #hero .hero-title h1 {
        font-size: 1.9rem;
    }

    #hero .hero-slogan {
        font-size: 1.8rem;
        max-width: 14rem;
    }

}

@media screen and (max-width: 348px) {
    #hero img {
        right: -78vw;
    }
}

@media screen and (max-width: 320px) {
    #hero .hero-title h1 {
        font-size: 1.8rem;
    }

    #hero .hero-slogan {
        font-size: 1.6rem;
        line-height: 1.2;
        margin: 1rem 0;
        max-width: 12rem;
    }

    #hero img {
        right: -80vw;
    }
}

@media (width: 375px) and (height: 667px) {
    #hero img {
        right: -50vw;
    }
}

@media (width: 390px) and (height: 655px) {
    #hero img {
        right: -50vw;
    }
}

@media (width: 430px) and (height: 932px) {
    #hero img {
        right: -64vw;
    }
}

@media (width: 360px) and (height: 740px) {
    #hero img {
        right: -60vw;
    }
}

@media (width: 820px) and (height: 1180px) {
    #hero img {
        right: -20vw;
    }
}

@media (width: 1024px) and (height: 1366px) {
    #hero .hero-slogan br {
        display: inline;
    }
}

@media (width: 912px) and (height: 1368px) {
    #hero img {
        right: -20vw;
    }
}

@media (width: 540px) and (height: 720px) {
    #hero img {
        right: -35vw;
    }
}

@media (width: 853px) and (height: 1280px) {
    #hero img {
        right: -20vw;
    }
}

@media (width: 320px) and (height: 480px) {
    #hero img {
        right: -40vw;
    }
}

@media (width: 320px) and (height: 568px) {
    #hero img {
        right: -50vw;
    }
}

@media (width: 414px) and (height: 736px) {
    #hero img {
        right: -40vw;
    }
}

@media (width: 375px) and (height: 634px) {
    #hero img {
        right: -44vw;
    }
}

