@import url('global.css');

/* Hero START */
section.hero {
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    padding: 5rem 0;
    max-width: 100%;
}

.hero-title {
    max-width: 40vw;
}

.hero-title h1 {
    font-size: clamp(1.8rem, 8vw, 3.5rem);
    font-weight: 600;
    margin-bottom: clamp(1rem, 2vw, 2rem);
}

.hero-slogan {
    max-width: 30vw;
    margin-bottom: 2rem;
}

.hero-slogan p {
    font-family: 'Oooh Baby', serif;
    font-size: clamp(1.8rem, 7vw, 2.5rem);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}
/* Hero END */

/* About START */
#about {
    background: var(--grey-extra-light);
}

#about .section-right {
    width: 80%;
}
/* About END */

/* Ballet START */
#ballet {
    background: var(--grey-light);
}

#ballet .section-left {
    width: 50%;
}

#ballet .btn {
    margin: 2.5rem 0;
}
/* Ballet END */

/* Section Loisir START */

/* Section Loisir END */

/* Section Pro START */

/* Section Pro END */

/* Stages START */

/* Stages END */

/* Gallery START */

/* Gallery END */

/* Contacts START */

/* Contacts END */

/* Contacts Form START */

/* Contacts Form END */

/* Responsive */
@media screen and (max-width: 1023px) {

    #about .section-right {
        width: 100%;
    }

    #ballet .section-left {
        width: 70%;
    }

    #ballet .btn {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 992px) {

    #about .section-right {
        width: 80%;
        order: 1;
    }

    #about .section-left {
        display: flex;
        order: 2;
        justify-content: center;
    }
}


@media screen and (max-width: 767px) {
    #ballet .section-left {
        width: 90%;
    }
    #ballet .three-items-wrap {
        display: none;
    }

    #ballet .btn {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 424px) {

}