@import url('global.css');

/* Hero START */
section.hero {
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    padding: 5rem 0;
    max-width: 100%;
}

.hero-title {
    max-width: 40vw;
}

.hero-title h1 {
    font-size: clamp(1.8rem, 8vw, 3.5rem);
    font-weight: 600;
    margin-bottom: clamp(1rem, 2vw, 2rem);
}

.hero-slogan {
    max-width: 30vw;
    margin-bottom: 2rem;
}

.hero-slogan p {
    font-family: 'Oooh Baby', serif;
    font-size: clamp(1.8rem, 7vw, 2.5rem);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}
/* Hero END */

/* About START */
#about {
    background: var(--white);
}

#about .section-right {
    width: 80%;
}
/* About END */

/* Ballet START */
#ballet {
    background: var(--grey-light);
}

#ballet .section-left {
    width: 50%;
}

#ballet .btn {
    margin: 2.5rem 0;
}
/* Ballet END */

/* Section Loisir START */
#loisir {

}

#loisir .section-center {
    width: 60%;
}

#loisir .title-side-decorated {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#loisir .title-side-decorated img {
    margin-bottom: 1rem;
}

#loisir .square-card-grid {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50rem;
    margin: 1rem auto 0;
}

#loisir .square-card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 16rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
    box-shadow: var(--shadow);
    border-radius: 3px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.5s ease;
    aspect-ratio: 1 / 1;
}

#loisir .square-card-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    box-shadow: none;
}

#loisir .square-card-item h4 {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 0;
}

#loisir .square-card-item:nth-child(1) {
    background-image: url('../images/main/enfants-classique.jpg');
}

#loisir .square-card-item:nth-child(2) {
    background-image: url('../images/main/adultes-classique.jpg');
}

#loisir .square-card-item:nth-child(3) {
    background-image: url('../images/main/enfants-contemporain.jpg');
}

#loisir .square-card-item:nth-child(4) {
    background-image: url('../images/main/adultes-contemporain.jpg');
}
/* Section Loisir END */

/* Section Pro START */
#pro {
    background: var(--grey-extra-light);
}
#pro .section-row {
    align-items: flex-start;
}

#pro .section-left {
    width: 50%;
    align-items: flex-start;
}

#pro .title-top-decorated h2 {
    margin-top: 0.625rem;
    margin-bottom: 2rem;
}

#pro .btn {
    width: 17.5rem;
    height: 3.75rem;
    margin-top: 3rem;
}

#pro .section-photo {
    width: 450px;
}

#pro .quote-container {
    position: relative;
}

#pro .mobile-only {
    display: none;
}

#pro .mobile-only .frame {
    position: relative;
}

.decor-quote-mobile {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-family: 'Oooh Baby', serif;
    font-size: 2rem;
    z-index: 10;
    line-height: 1.4;
    color: var(--white);
    width: 40%;
}

#pro .decor-quote {
    position: absolute;
    font-family: 'Oooh Baby', serif;
    font-size: 2rem;
    z-index: 10;
    top: 79%;
    left: -10%;
    transform: translateX(-60%);
    line-height: 1.4;
}

#pro .decor-quote-row:last-child {
    transform: translateX(8rem);
}

#pro .decor-quote-white:nth-child(1) {
    color: var(--white);
    margin-left: 1.1rem;
}

#pro .decor-quote-white:nth-child(2) {
    color: var(--white);
}
/* Section Pro END */

/* Stages START */
#stages .section-right {
    align-items: flex-start;
}

#stages .social-icons {
    display: flex;
    gap: 1rem;
}

#stages .social-icons img {
    width: 24px;
}
/* Stages END */

/* Gallery START */
#main-gallery {
    background-color: var(--grey-light);
}

#main-gallery .section-row {
    justify-content: center;
}
#main-gallery .swiper-frame {
    width: 95vw;
}

/* Gallery END */

/* Contacts START */
#main-contacts {
    background-image: url('../images/main/bg-contacts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-contacts .container {
    background-color: var(--secondary-color-extra-dark);
    color: var(--white);
    border-radius: 3px;
    margin: 0 2rem;
}

#main-contacts .section-row {
    padding: 3rem 0;
    justify-content: space-between;
    align-items: flex-start;
}

#main-contacts a {
    color: var(--white);
}

#main-contacts .three-items-wrap {
    width: 90%;
    margin-bottom: 2rem;
}


#main-contacts .google-map,
#main-contacts .google-map iframe {
    width: 32rem;
    height: 16rem;
}




/* Contacts END */

/* Contacts Form START */
#main-contacts form h2 {
    margin-left: 1rem;
}


#main-contacts form label {
    color: var(--white);
}

#main-contacts form a {
    text-decoration: underline;
}

#main-contacts form a:hover {
    opacity: 0.8;
}

#main-contacts button {
    margin: 1rem auto 0;
}
/* Contacts Form END */

/* Responsive */
@media screen and (max-width: 1200px) {

    #main-contacts .section-row {
        flex-direction: column;
        align-items: center;
    }

    #main-contacts .section-row {
        justify-content: center;
        align-items: center;
    }

    #main-contacts .section-left {
        width: 60%;
    }

    #main-contacts .section-right {
        width: 60%;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 1024px) {

    #about .section-right {
        width: 100%;
    }

    #ballet .section-left {
        width: 70%;
    }

    #ballet .btn,
    #pro .btn {
        margin: 2rem 0;
    }



}

@media screen and (max-width: 992px) {

    #about .section-right {
        width: 80%;
        order: 1;
    }

    #about .section-left {
        display: flex;
        order: 2;
        justify-content: center;
    }

    #ballet .btn {
        margin: 2rem 0;
    }

    #loisir .section-center {
        width: 70%;
    }

    #loisir .title-side-decorated img {
        display: none;
    }

    #loisir .title-side-decorated h2 {
        margin-top: 0;
    }

    #loisir .square-card-item {
        width: 15rem;
    }

    #pro .section-row {
        align-items: center;
    }

    #pro .section-left {
        width: 70%;
        align-items: center;
    }

    #pro .title-top-decorated img {
        display: none;
    }

    #pro .title-top-decorated h2 {
        margin-top: 0;
    }

    #pro .quote-container {
        display: none;
    }

    #pro .mobile-only {
        display: block;
    }

    #pro .btn {
        margin: 2rem 0;
    }

    #pro .section-photo {
        width: 100%;
    }

    #stages .section-right {
        display: flex;
        flex-direction: column;
        width: 70%;
        order: 1;
        justify-content: center;
        align-items: center;
    }

    #stages .stages-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    #stages .section-left {
        display: flex;
        order: 2;
        justify-content: center;
    }


    #main-gallery .swiper-frame {
        width: 90vw;
    }

    #main-contacts .section-left {
        width: 80%;
    }

    #main-contacts .section-right {
        width: 80%;
    }
}


@media screen and (max-width: 768px) {
    section.hero {
        height: 70vh;
    }

    #about .section-right {
        width: 90%;
    }

    #ballet .section-left {
        width: 90%;
    }

    #ballet .three-items-wrap {
        display: none;
    }

    #ballet .btn {
        margin: 2rem 0 1rem 0;
    }

    #loisir .section-center {
        width: 90%;
    }

    #loisir .square-card-grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #pro .section-left {
        width: 90%;
    }

    #pro .btn {
        margin: 2rem 0 1rem 0;
    }

    #stages .section-right {
        width: 90%;
    }


    #main-contacts .section-left {
        width: 90%;
    }



    #main-contacts .section-right {
        width: 90%;
        margin-top: 2rem;
    }



    #main-contacts .main-contacts-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 2rem;
    }

    #main-contacts .three-items-wrap {
        margin: 0;
        padding: 0;
        width: auto;
    }
    #main-contacts .three-items-row {
        width: auto;
        gap: 1rem;
    }

    #main-contacts .three-items-item {
        width: 100%;
        margin: 0;
    }


    #main-contacts .google-map,
    #main-contacts .google-map iframe {
        width: 40vw;
        height: 50vw;
    }


}

@media (max-width: 624px) {

    #main-gallery .section-row {
        margin: 0 auto;
        max-width: 400px;
    }

    #main-contacts .main-contacts-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    #main-contacts .google-map,
    #main-contacts .google-map iframe {
        width: 100%;
        height: 40vw;
    }

}

@media screen and (max-width: 480px) {
    section.hero {
        height: 60vh;
    }

    #main-gallery .swiper-frame {
        width: 85vw;
    }

    #main-contacts .section-left {
        width: 95%;
    }


    #main-contacts .section-right {
        width: 95%;
        margin-top: 2rem;
    }

    #main-contacts .form-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #main-contacts .half-width {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    section.hero {
        height: 70vh;
    }

    .hero-buttons {
        flex-direction: column;
    }

    #ballet .btn,
    #pro .btn {
        width: 100%;
        margin: 1rem 0 0.5rem 0;
    }

    #pro .decor-quote-mobile {
        font-size: 1.5rem;
        line-height: 1.3;
    }
}