section:nth-child(even) {
    background: var(--grey-extra-light);
}

/* Professeurs START */
#professeurs-classiques .swiper-section-small,
#professeurs-classiques .frame img {
    width: 360px;
    height: auto;
}

#professeurs-classiques .three-items-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
    width: 30%;
}

#professeurs-classiques .three-items-item h4 {
    margin-bottom: 0.6rem;
}

#professeurs-classiques .three-items-item ul {
    padding: 0;
}

#professeurs-classiques ul li {
    text-indent: -0.65rem;
    padding-left: 0.65rem;
    margin-bottom: 0.6rem;
    line-height: 1.4;
}

#professeurs-classiques .cards {
    margin-top: 3rem;
}

#professeurs-classiques .card-item iframe {
    width: 100%;
    aspect-ratio: 3/2;
}

#professeurs-classiques .mobile-only {
    display: none;
}
/* Professeurs Classiques END */

/* Professeurs Contemporain START */
#professeurs-contemporain .swiper-section-small {
    width: 360px;
    height: auto;
}

#professeurs-contemporain .three-items-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
    width: 30%;
}

#professeurs-contemporain .three-items-item h4 {
    margin-bottom: 0.6rem;
}

#professeurs-contemporain .three-items-item ul {
    padding: 0;
}

#professeurs-contemporain ul li {
    text-indent: -0.65rem;
    padding-left: 0.65rem;
    margin-bottom: 0.6rem;
    line-height: 1.4;
}

#professeurs-contemporain .cards {
    margin-top: 3rem;
}

#professeurs-contemporain .card-item iframe {
    width: 100%;
    aspect-ratio: 3/2;
}

#professeurs-contemporain .mobile-only {
    display: none;
}
/* Professeurs Contemporain END */

/* Professeurs Invites START */
#professeurs-invites .swiper-section-small {
    width: 360px;
    height: auto;
}

#professeurs-invites .three-items-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
    width: 30%;
}

#professeurs-invites .three-items-item h4 {
    margin-bottom: 0.6rem;
}

#professeurs-invites .three-items-item ul {
    padding: 0;
}

#professeurs-invites ul li {
    text-indent: -0.65rem;
    padding-left: 0.65rem;
    margin-bottom: 0.6rem;
    line-height: 1.4;
}

#professeurs-invites .cards {
    margin-top: 3rem;
}

#professeurs-invites .card-item iframe {
    width: 100%;
    aspect-ratio: 3/2;
}

#professeurs-invites .mobile-only {
    display: none;
}
/* Professeurs Invites END */

/* Studio START */
#studio .swiper-frame {
    width: 95vw;
}
/* Studio END */

/* Reglement START */
#reglement .download-link.up {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

#reglement .download-link.down {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

#reglement .download-link a {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

#reglement .download-link a:hover {
    opacity: 0.6;
    text-decoration: underline;
}
/* Reglement END */

/* Mentions Legales START */
#mentions section.longread h5 {
    font-weight: bold;
    margin: 2rem 0 1rem 0;
}
/* Mentions Legales END */

/* Enfants-Ado Classique START */

#enfants-classique .cards.niveaux {
    margin-top: 1.5rem;
}

#enfants-classique .cards .card-thumb img {
    width: 11rem;
}

#enfants-classique .cards h5 {
    font-size: 1rem;
    font-weight: bold;
}

#enfants-classique .niveau-button {
    margin-top: 2rem;
}

#enfants-classique .swiper-section-small {
    width: 360px;
    height: 480px;
}

#enfants-classique .swiper-section-small .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#enfants-classique .swiper-section-small .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
}

#enfants-classique .swiper-section-small .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* Enfants-Ado Classique END */

/*Tarifs START*/
#tarifs h4 {
    font-weight: bold;
}

#tarifs h4:first-of-type {
    margin-top: 4rem;
}

#tarifs h4:last-of-type {
    margin: 6rem 0 -3rem;
}

#tarifs .tarif-table {
    width: 66rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    text-align: center;
}

#tarifs .tarif-table.small {
    width: 43rem;
    grid-template-columns: 2fr auto;
}

#tarifs .tarif-table.large {
    margin-bottom: 0;
}

#tarifs .tarif-header {
    display: contents;
    font-weight: 700;
    font-size: 1rem;
}

#tarifs .tarif-row {
    display: contents;
}

#tarifs .tarif-header::after,
#tarifs .tarif-row::after {
    content: "";
    grid-column: 1 / -1;
    border-bottom: 1px solid var(--grey-light);
    display: block;
    height: 0;
    margin-top: 0.3rem;
}

#tarifs .first-cell {
    text-align: left;
    margin-left: 1rem;
    max-width: 15rem;
}

#tarifs em {
    color: var(--grey);
}

#tarifs .mobile-only {
    display: none;
}

#tarifs .highlighted {
    position: relative;
    z-index: 10;
}

#tarifs .highlight {
    position: absolute;
    background: var(--grey-extra-light);
    border-radius: 3rem;
    padding: 2rem;
    width: 7rem;
    height: 34rem;
    z-index: -1;
    top: -2.2rem;
    right: 0.9rem;
}
/*Tarifs END*/

/* Section Pro START */
#section-pro .section-row {
    align-items: flex-start;
}

#section-pro ul {
    list-style: disc;
}

#section-pro #presentation,
#section-pro #scolarite {
    flex-direction: row;
}

#section-pro #presentation .section-text,
#section-pro #scolarite .section-text {
    width: 100%;
    text-align: left;
}

#section-pro #presentation .frame,
#section-pro #scolarite .frame {
    margin-top: 2rem;
}

#section-pro #pro-admission .section-row {
    justify-content: left;
}

#section-pro #pro-admission a {
    text-decoration: underline;
}

#section-pro input,
#section-pro select,
#section-pro textarea {
    background-color: var(--grey-light);
}

#section-pro .form-container input:hover,
#section-pro .form-container select:hover,
#section-pro .form-container textarea:hover,
#section-pro .form-container input:focus,
#section-pro .form-container select:focus,
#section-pro .form-container textarea:focus {
    background-color: var(--grey-extra-light);
}


/* Section Pro END */

/* Admission START */

#admission .section-center {
    width: 50%;
}

#admission .section-text {
    background: var(--grey);
    padding: 3rem;
    border-radius: 3px;
    color: var(--white);
    width: 100%;
}

#admission .section-text a {
    color: var(--white);
    text-decoration: underline;
}

#admission form a:hover {
    opacity: 0.8;
}

#admission form label {
    color: var(--white);
}

#admission button {
    margin: 1rem auto 0;
}

/* Admission END */

/* Contacts START */

#contacts .section-row {
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

#contacts .section-content-text {
    width: 46%;
}

#contacts .section-content-text:last-of-type {
    background: var(--grey);
    padding: 3rem;
    border-radius: 3px;
    color: var(--white);
}

#contacts .section-content-text:last-of-type a {
    color: var(--white);
}

#contacts .section-text {
    width: 100%;
}

#contacts .main-contacts-wrap {
    width: 100%;
}

#contacts .google-map iframe {
    width: 100%;
    height: 20rem;
}

#contacts .three-items-wrap {
    width: 100%;
    margin-bottom: 2rem;
}

#contacts form label {
    color: var(--white);
}

#contacts form a {
    text-decoration: underline;
}

#contacts form a:hover {
    opacity: 0.8;
}

#contacts button {
    margin: 1rem auto 0;
}

#contacts .form-message .success {
    color: var(--white);
}

/* Contacts END */

/* Responsive */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    #enfants-classique .cards {
        gap: 1rem;
    }

    #enfants-classique .cards .card-thumb img {
        width: 10rem;
    }

    #tarifs .tarif-table.large {
        width: 100%;
    }

    #tarifs .tarif-table.small {
        width: 100%;
    }

    #section-pro #pro-admission .btn {
        width: 16rem;
        height: 3rem;
    }

    #section-pro form {
        width: 100%;
    }

    #contacts .section-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    #contacts .section-content-text {
        width: 60%;
        align-items: center;
        justify-content: center;
    }

    #contacts .section-text {
        width: 100%;
    }

    #contacts p {
        margin-bottom: 2rem;
    }

    #contacts .three-items-row {
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    #contacts form {
        width: 100%;
    }

    #tarifs .highlight {
        right: 0.5rem;
    }
}

@media screen and (max-width: 1024px) {
    #professeurs-classiques .swiper-section-small,
    #professeurs-classiques .frame img {
        width: 450px;
        height: auto;
    }

    #professeurs-classiques .three-items-wrap {
        margin: 3rem 0 1rem 0;
    }

    #professeurs-contemporain .swiper-section-small {
        width: 450px;
        height: auto;
    }

    #professeurs-contemporain .three-items-wrap {
        margin: 3rem 0 1rem 0;
    }

    #professeurs-invites .swiper-section-small {
        width: 450px;
        height: auto;
    }

    #professeurs-invites .three-items-wrap {
        margin: 3rem 0 1rem 0;
    }

    #enfants-classique .section-content-text,
    #enfants-classique .section-center {
        width: 100%;
    }

    #enfants-classique .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin-top: 0;
        max-width: 100%;
    }

    #enfants-classique .cards h5 {
        font-size: 0.8rem;
    }

    #enfants-classique .swiper-section-small {
        width: 450px;
        height: auto;
    }

    #enfants-classique .swiper-section-small .swiper-slide img {
        height: 600px;
    }

    #enfants-classique .section-content-image .frame {
        margin-top: 3rem;
    }

    #tarifs .section-content-text {
        width: 100%;
    }

    #section-pro #admission .btn {
        margin: 3rem auto 1rem;
    }

    #section-pro #admission .section-content-text {
        width: 70%;
    }

    #section-pro #presentation .frame,
    #section-pro #scolarite .frame {
        margin-top: 0;
    }

    #section-pro #pro-admission .btn {
        margin: 2rem 0 1rem 0;
    }

    #section-pro #pro-admission .section-content-text {
        align-items: flex-start;
    }

    #admission .section-center {
        width: 60%;
    }

    #contacts .section-content-text {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {

    #enfants-classique .cards {
        gap: 0.8rem;
    }

    #enfants-classique .cards .card-thumb img {
        width: 8rem;
    }

    #professeurs-classiques .three-items-item {
        font-size: 0.9rem;
    }

    #professeurs-classiques .cards {
        margin: 2rem 0 1rem;
    }

    #professeurs-contemporain .three-items-item {
        font-size: 0.9rem;
    }

    #professeurs-contemporain .cards {
        margin: 2rem 0 1rem;
    }

    #professeurs-invites .three-items-item {
        font-size: 0.9rem;
    }

    #professeurs-invites .cards {
        margin: 2rem 0 1rem;
    }

    #tarifs .highlight {
        right: -0.2rem;
    }

    #section-pro .section-center .section-text {
        width: 100%;
    }

    #admission .section-center {
        width: 70%;
    }

}

@media screen and (max-width: 768px) {
    #professeurs-classiques .three-items-wrap {
        margin: 1rem 0;
    }

    #professeurs-classiques .three-items-item {
        font-size: 1rem;
        width: 80%;
    }

    #professeurs-classiques .cards {
        row-gap: 2rem;
        column-gap: 2rem;
    }

    #professeurs-contemporain .three-items-wrap {
        margin: 1rem 0;
    }

    #professeurs-contemporain .three-items-item {
        font-size: 1rem;
        width: 80%;
    }

    #professeurs-contemporain .cards {
        row-gap: 2rem;
        column-gap: 2rem;
    }

    #professeurs-invites .three-items-wrap {
        margin: 1rem 0;
    }

    #professeurs-invites .three-items-item {
        font-size: 1rem;
        width: 80%;
    }

    #professeurs-invites .cards {
        row-gap: 2rem;
        column-gap: 2rem;
    }

    #studio .swiper {
        aspect-ratio: 1/1;
    }

    #section-pro .swiper {
        aspect-ratio: 1/1;
    }

    #enfants-classique .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
    }

    #enfants-classique .cards h5 {
        font-size: 1rem;
    }

    #enfants-classique .cards .card-thumb img {
        width: 15rem;
        height: auto;
    }

    #tarifs .tarif-table.mobile-only {
        display: grid;
        grid-template-columns: 2fr auto;
        text-align: right;
    }

    #tarifs .tarif-table.small span {
        display: block;
    }

    #tarifs .tarif-table.small span br {
        display: none;
    }

    #tarifs .tarif-table.small .tarif-cell:empty {
        display: none;
    }

    #tarifs .tarif-table.large {
        display: none;
    }

    #tarifs h4:first-of-type {
        margin-top: 3rem;
    }

    #tarifs h4 {
        margin-bottom: 2rem;
    }

    #tarifs h4:last-of-type {
        margin: 4rem 0 2rem;
    }

    #tarifs h5 {
        font-weight: 700;
    }

    #tarifs .tarif-table:last-of-type {
        margin-bottom: 0;
    }

    #tarifs .mobile-only .highlighted {
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        background: var(--grey-extra-light);
        border-radius: 3rem;
        transform: translateX(1rem);
    }

    #admission .section-center {
        width: 80%;
    }

    #contacts .section-row {
        gap: 5rem;
    }

    #contacts .section-content-text {
        width: 90%;
    }

    #contacts .main-contacts-wrap {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        gap: 6rem;
        align-items: center;
        margin-top: 2rem;
    }

    #contacts .three-items-wrap {
        margin: 0;
        padding: 0;
        width: auto;
    }

    #contacts .three-items-row {
        width: auto;
        gap: 3rem;
    }

    #contacts .three-items-item {
        width: 100%;
        margin: 0;
    }

    #contacts .google-map,
    #contacts .google-map iframe {
        width: 40vw;
        height: 50vw;
    }
}

@media screen and (max-width: 624px) {

    #professeurs-classiques .three-items-wrap {
        margin: 2rem 0 1rem;
    }

    #professeurs-classiques .three-items-row {
        gap: 2rem;
    }

    #professeurs-classiques .three-items-item {
        width: 100%;
    }

    #professeurs-contemporain .three-items-wrap {
        margin: 2rem 0 1rem;
    }

    #professeurs-contemporain .three-items-row {
        gap: 2rem;
    }

    #professeurs-contemporain .three-items-item {
        width: 100%;
    }

    #professeurs-invites .three-items-wrap {
        margin: 2rem 0 1rem;
    }

    #professeurs-invites .three-items-row {
        gap: 2rem;
    }

    #professeurs-invites .three-items-item {
        width: 100%;
    }

    #admission .section-center {
        width: 100%;
    }

    #contacts .section-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contacts .main-contacts-wrap {
        margin-top: 0 !important;
    }

    #contacts .section-content-text:last-of-type {
        padding: 0;
        background: var(--white);
        color: var(--black);
    }

    #contacts .section-content-text:last-of-type a {
        color: var(--black);
    }

    #contacts form label {
        color: var(--black);
    }

    #contacts form input,
    #contacts form select,
    #contacts form textarea {
        background-color: var(--grey-extra-light);
    }

    #contacts .form-message .success {
        color: var(--primary-color);
    }

    #professeurs-classiques .swiper-section-small,
    #professeurs-classiques .frame img {
        width: 80vw;
        height: auto;
    }

    #professeurs-classiques .cards {
        display: none;
    }

    #professeurs-classiques .mobile-only {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }

    #professeurs-classiques .mobile-only iframe {
        width: 100%;
        aspect-ratio: 3/2;
        margin: 1rem auto;
    }

    #professeurs-contemporain .swiper-section-small {
        width: 80vw;
        height: auto;
    }

    #professeurs-contemporain .cards {
        display: none;
    }

    #professeurs-contemporain .mobile-only {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }

    #professeurs-contemporain .mobile-only iframe {
        width: 100%;
        aspect-ratio: 3/2;
        margin: 1rem auto;
    }

    #professeurs-invites .swiper-section-small {
        width: 80vw;
        height: auto;
    }

    #professeurs-invites .cards {
        display: none;
    }

    #professeurs-invites .mobile-only {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }

    #professeurs-invites .mobile-only iframe {
        width: 100%;
        aspect-ratio: 3/2;
        margin: 1rem auto;
    }

    #enfants-classique .swiper-section-small {
        width: 80vw;
    }

    #enfants-classique .swiper-section-small .swiper-slide img {
        height: auto;
        aspect-ratio: 3/4;
    }

    #section-pro .section-photo  {
        width: 85vw;
    }

    #contacts .section-content-text {
        width: 100%;
    }

    #contacts .main-contacts-wrap {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        gap: 3rem;
    }

    #contacts .google-map,
    #contacts .google-map iframe {
        width: 100%;
        height: 40vw;
    }
}

@media screen and (max-width: 480px) {

    #professeurs-classiques ul li {
        text-indent: 0;
        padding-left: 0;
    }

    #professeurs-contemporain ul li {
        text-indent: 0;
        padding-left: 0;
    }

    #professeurs-invites ul li {
        text-indent: 0;
        padding-left: 0;
    }

    #studio .swiper-frame {
        width: 85vw;
    }

    #enfants-classique .section-content-image .frame {
        margin-top: 2rem;
    }

    #tarifs .first-cell {
        margin-left: 0;
        max-width: 12rem;
    }

    #tarifs .mobile-only .first-cell {
        margin-left: 0;
        max-width: 10rem;
    }

    #section-pro .form-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #section-pro .half-width {
        width: 100%;
    }

    #admission .section-first.no-padding-top {
        margin: 3rem 0 0 0;
    }

    #admission .section-text {
        background: var(--white);
        color: var(--black);
        padding: 0;
    }

    #admission .section-text a {
        color: var(--black);
    }

    #admission form label {
        color: var(--black);
    }

    #admission button {
        margin: 1rem auto 0;
    }

    #admission form input,
    #admission form select,
    #admission form textarea {
        background-color: var(--grey-extra-light);
    }

    #admission .form-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #admission form {
        margin-top: 2rem;
    }

    #admission .half-width {
        width: 100%;
    }

    #contacts .section-row {
        gap: 3rem;
    }

    #contacts .form-group {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #contacts .half-width {
        width: 100%;
    }

}

@media screen and (max-width: 425px) {
    #section-pro #pro-admission .btn {
        width: 100%;
    }

    #tarifs .tarif-cell {
        max-width: 11rem;
    }

    #admission .btn {
        width: 100%;
    }

    #contacts .three-items-row {
        gap: 2rem;
    }
}

@media screen and (max-width: 375px) {
    #section-pro #presentation .frame,
    #section-pro #scolarite .frame {
        margin-top: 0;
    }

}

@media screen and (max-width: 320px) {
    #tarifs .tarif-table.small span br {
        display: inline-block;
    }

    #admission .btn {
        font-size: 1rem;
        height: 3rem;
    }

}