section:nth-child(even) {
    background: var(--grey-extra-light);
}

/* Notre Histoire START */



/* Notre Histoire END */

/* Professeurs Classiques START */
#professeurs-classiques .swiper-section-small {
    width: 360px;
    height: auto;
}

#professeurs-classiques .three-items-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    font-size: 1rem;
    width: 30%;
}

#professeurs-classiques .three-items-item h4 {
    margin-bottom: 0.6rem;
}

#professeurs-classiques .three-items-item ul {
    padding: 0;
}

#professeurs-classiques ul li {
    text-indent: -0.65rem;
    padding-left: 0.65rem;
    margin-bottom: 0.6rem;
    line-height: 1.4;
}

#professeurs-classiques .cards {
    margin-top: 3rem;
}

#professeurs-classiques .card-item iframe {
    width: 100%;
    aspect-ratio: 3/2;
}

#professeurs-classiques .mobile-only {
    display: none;
}


/* Professeurs Classiques END */

/* Responsive */
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
    #professeurs-classiques .swiper-section-small {
        width: 450px;
        height: auto;
    }

    #professeurs-classiques .three-items-wrap {
        margin: 3rem 0 1rem 0;
    }
}

@media screen and (max-width: 992px) {





    #professeurs-classiques .three-items-item {
        font-size: 0.9rem;
    }

    #professeurs-classiques .cards {
        margin: 2rem 0 1rem;
    }



}

@media screen and (max-width: 768px) {
    #professeurs-classiques .three-items-wrap {
        margin: 1rem 0;
    }

    #professeurs-classiques .three-items-item {
        font-size: 1rem;
        width: 80%;
    }



    #professeurs-classiques .cards {
        row-gap: 2rem;
        column-gap: 2rem;
    }
}

@media screen and (max-width: 624px) {
    #professeurs-classiques .three-items-wrap {
        margin: 2rem 0 1rem;
    }

    #professeurs-classiques .three-items-row {
        gap: 2rem;
    }

    #professeurs-classiques .three-items-item {
        width: 100%;
    }

    #professeurs-classiques .swiper-section-small {
        width: 80vw;
        height: auto;
    }

    #professeurs-classiques .cards {
        display: none;
    }

    #professeurs-classiques .mobile-only {
        display: block;
        margin-top: 1rem;
        text-align: center;
    }

    #professeurs-classiques .mobile-only iframe {
        width: 100%;
        aspect-ratio: 3/2;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 480px) {


    #professeurs-classiques ul li {
        text-indent: 0;
        padding-left: 0;
    }



}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}