/* Formulaire Inscription */
.registration-form .section-content {
    background-color: var(--grey-light);
    box-shadow: var(--shadow);
    border-radius: 3px;
}

.registration-form form {
    padding: 3rem;
    box-shadow: none;
}

.registration-form .label {
    margin-bottom: 0.8rem;
}

.registration-form form input,
.registration-form form select,
.registration-form form textarea {
    background-color: var(--white);
}



.registration-form a {
    color: var(--black);
    text-decoration: underline;
    transition: all 0.3s ease;
}

.registration-form a:hover {
    color: var(--blue);
}

.registration-form form > h3:first-of-type {
    margin: 0 0 2rem 0;
}

.registration-form h3 {
    margin: 3rem 0 1rem 0;
    font-weight: 400;
    font-size: 2.2rem;
}

.registration-form h4 {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 0;
}

.registration-form form button {
    margin: 1rem auto 0;
}

.registration-form .radio-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.registration-form .radio-buttons label {
    cursor: pointer;
}

.registration-form .radio-buttons input[type="radio"] {
    display: none;
}

.registration-form .age-participant label span {
    font-size: var(--text-small);
    padding: 0.7rem 2rem;
    border-radius: 3px;
    background-color: var(--grey-extra-light);
    transition: all 0.3s;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.registration-form .age-participant label span:hover,
.form-single-input.checkboxes span:hover,
.form-single-input.checkboxes input[type="checkbox"]:checked + span,
.form-single-input.radio-buttons input[type="radio"]:checked + span {
    background-color: var(--grey);
    color: var(--white);
}

.registration-form .age-participant {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.registration-form .age-participant .form-single-input {
    margin: 0 !important;
}

.age-sections-container {
    position: relative;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.toggle-section {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
}

.toggle-section.showing {
    display: block;
}

.class-option label {
    padding: 0 !important;
    margin: 0 !important;
}

.class-option label span {
    width: 12.5rem;
    text-align: center;
}

.class-option {
    width: 26rem;
}

.class-option fieldset {
    margin: 0 !important;
}

.ado-section,
.adult-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem !important;
    flex-wrap: wrap;
}

.form-single-input.checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-single-input.checkboxes label {
    cursor: pointer;
    user-select: none;
}

.form-single-input.checkboxes input[type="checkbox"] {
    display: none;
}

.form-single-input.checkboxes span {
    display: inline-block;
    padding: 0.7rem 2rem;
    background-color: #eee;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    font-size: var(--text-small);
    box-shadow: var(--shadow);
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    display: inline-block;
    padding: 0.7rem 1rem;
    background-color: #eee;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 8rem;
}

.form-single-input.radio-buttons input[type="radio"]:checked + span {
    background-color: var(--grey);
    color: var(--white);
}

.participant-identity-block {
    display: flex;
    flex-direction: column;
    justify-content: left !important;
}

.custom-checkbox-label {
    display: flex;
    font-size: var(--text-small);
    justify-content: left;
    align-items: center;
}

.custom-checkbox-label input[type="checkbox"] {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 0.5rem;
}

.custom-checkbox {
    margin-bottom: 2rem;
}

.form-button .custom-checkbox {
    margin: 2.5rem 0 0 0;
}

.form-button .custom-checkbox-label {
    margin: 0;
}

.registration-form input:not(:disabled):hover,
.registration-form select:not(:disabled):hover,
.registration-form textarea:not(:disabled):hover {
    background-color: white;
}

.registration-form input:disabled,
.registration-form input:disabled:hover {
    background-color: var(--grey-extra-light);
    box-shadow: none;
    cursor: default;
    opacity: 0.6;
}

.form-button.center {
    display: flex;
    justify-content: center;
}

.add-remove-participant {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-participant {
    justify-content: flex-start;
}

.remove-participant {
    justify-content: flex-end;
}

.add-participant,
.remove-participant {
    display: flex;
    flex: 1;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    color: var(--blue);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease;
}

.add-participant:hover,
.remove-participant:hover {
    filter: brightness(1.3);
    cursor: pointer;
}

hr {
    margin-top: 3rem;
}

.participant-template {
    display: none;
}

.participant.animating-add {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 0.4s ease;
}
.participant.added {
    opacity: 1;
    transform: translateY(0);
}

.form-wrapper {
    transition: height 0.6s ease;
    overflow: hidden;
}

.participant {
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease, margin 0.4s ease;
}

.remove-participant {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.remove-participant.hiding {
    opacity: 0;
    visibility: hidden;
}

.add-participant {
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
}

.add-participant.showing {
    opacity: 0;
    visibility: visible;
}

.remove-participant {
    display: none; /* Изначально скрыта */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

input.large {
    width: 26rem!important;
    max-width: 26rem!important;
}